In [60]:
# Bilbiotecas necessárias.
import json
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime

In [59]:
# Ler o arquivo JSON.
data_json = []
file_json = 'C:/Users/Alex Talles Viana/Desktop/nyctaxi_trips_2009.json.json'
with open(file_json, 'r') as f:
    for line in f:
        data_json.append(json.loads(line))
        
#file_json.close()

In [10]:
# Tranforma JSON em DataFrame.
nyc_df_2009 = pd.DataFrame(data_json)
#nyc_df_2010 = pd.DataFrame(data_json)
#nyc_df_2011 = pd.DataFrame(data_json)
#nyc_df_2012 = pd.DataFrame(data_json)
nyc_df_2009.head()

,dropoff_datetime,dropoff_latitude,dropoff_longitude,fare_amount,passenger_count,payment_type,pickup_datetime,pickup_latitude,pickup_longitude,rate_code,store_and_fwd_flag,surcharge,tip_amount,tolls_amount,total_amount,trip_distance,vendor_id
0,2009-04-21T18:57:09.433767+00:00,40.747950,-73.994712,5.4,2,Cash,2009-04-21T18:51:11.767205+00:00,40.742950,-74.004114,None,NaN,0.0,0.0,0.0,5.4,0.80,CMT
1,2009-01-13T07:50:36.386011+00:00,40.792385,-73.940449,15.4,1,Cash,2009-01-13T07:40:07.639754+00:00,40.747784,-73.996506,None,NaN,0.0,0.0,0.0,15.4,5.40,CMT
2,2009-01-06T19:43:09.908429+00:00,40.768108,-73.944535,6.1,5,CASH,2009-01-06T19:30:44.142187+00:00,40.752070,-73.951340,None,NaN,1.0,0.0,0.0,7.1,1.67,VTS
3,2009-09-24T08:41:56.739991+00:00,40.721812,-73.958122,12.9,1,CASH,2009-09-24T08:28:09.004451+00:00,40.729128,-74.001117,None,NaN,0.5,0.0,0.0,13.4,4.13,VTS
4,2009-10-29T05:57:22.880174+00:00,40.776075,-73.979757,7.7,1,CASH,2009-10-29T05:50:39.214629+00:00,40.756873,-73.976600,None,NaN,0.5,0.0,0.0,8.2,2.03,VTS

In [ ]:
# Qual a distância média percorrida por viagens com no máximo 2 passageiros?

In [46]:
distance_avg_trip = nyc_df_2009['trip_distance'][(nyc_df_2009.loc[:, 'passenger_count']) <= 2]

print(f'A distância média percorrida é: {distance_avg_trip.mean()}')

A distância média percorrida é: 2.662526996203298

In [5]:
# Quais os 3 maiores Vendors em quantidade total de dinheiro arrecadado?

In [48]:
vendors = nyc_df_2009.groupby('vendor_id')['total_amount'].max()

print(f'Os maiores vendors são: {vendors}')

Os maiores vendors são: vendor_id
CMT    230.0
DDS    185.0
TS      11.4
VTS    217.2
Name: total_amount, dtype: float64

In [ ]:
# Faça um histograma da distribuição mensal, nos 4 anos, de corridas pagas em  dinheiro.

In [53]:
dateparse = lambda dates: pd.datetime.strptime(dates, '%Y') 
data = pd.DataFrame(nyc_df_2009, parse_dates ='pickup_datetime', index_col = 'pickup_datetime', date_parse = 'dateparse') 
data.head()

# Método para converter para data.
#def parse_date(row):
    #date = datetime.datetime.strptime(row['pickup_datetime'], '%Y-%m-%dT%H:%M:%S').split(':')
    #return parse_date(row)

#parse_date(row)

#trip_cash_payment = nyc_df['pickup_datetime'][(nyc_df.loc[:, 'payment_type']) == 'Cash']
#trip_cash_payment.describe()

#histogram = nyc_df['payment_type'].hist(bins=30, figsize=(15,5))
#plota o ano no eixo X e o tipo de pagamento no eixo Y.
#histogram.title("Corrigas Pagas em Cash nos 4 anos")
#histogram.xlabel("Ano")
#histogram.ylabel("Tipo de Pagamento")
#mostra o gráfico
#plt.show()

TypeError: __init__() got an unexpected keyword argument 'parse_dates'

In [45]:
# Faça um gráfico de série temporal contando a quantidade de gorjetas de cada dia, nos últimos 3 meses de 2012.

In [ ]:
# Qual o tempo médio das corridas nos dias de sábado e domingo?

In [ ]:
# Fazer uma visualização em mapa com latitude e longitude de pickups e dropoffs no ano de 2010.